@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

:root{
    --black: #1c1c1c;
    --gray: #d7d7d7;
    --white: #f7f7f7;

    /* tipos de pokemones */
    --fondo: rgb(33, 0, 57);
    --normal: #a8a878;
    --fire: #f06330;
    --water: #6890f0;
    --tarjetas:#7ce249;
    --grass: #78c850;
    --electric: #f8d030;
    --ice: #98d8d8;
    --fighting: #c03028;
    --poison: #a040a0;
    --ground: #e0c068;
    --flying: #a890f0;
    --psychic: #f85888;
    --bug: #a8b820;
    --rock: #b8a038;
    --ghost: #705898;
    --dark: #705848;
    --dragon: #7038f8;
    --steel: #b8b8d0;
    --fairy: #f0b6bc;
    
    /* fuentes: */
    --principal: 'Mochiy Pop One', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

ul{
    list-style: none;
}

button{
    background-color: transparent;
    border: none;
    font-family: var(--principal);

}

body{
    min-height: 100vh;
    background-color: var(--gray);
    font-family: var(--principal);
}
.img{    
    margin: auto;
    margin-top: 1rem;
}
.header{
    padding-block: 1rem;
    box-shadow: 0 0 2rem -1rem rgba(0, 0, 0, .5);
}
.nav{
    margin: auto;
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    padding-inline: 1rem;
}
.nav-list{
    /* max-width: ; */
    background-color: var(--black);
    padding: 1rem;
    border-radius: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}
.btn-header{
    background-color: var(--gray);
    padding: .5rem;
    border-radius: 100vmax;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 400;

}
.btn-header:hover{
    transform: scale(1.1);
    box-shadow: 0 0 2rem rgba(0, 0, 0, .25rem);
}
main{
    /* width: 100%; */
    padding: 2rem;
}
.pokemon-todos{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}
@media (min-width: 768px) {
    .pokemon-todos{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
    }
}
@media (min-width: 1140px) {
    .pokemon-todos{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1rem;
    }
}
.pokemon{
    border-radius: 1rem;
    background-color: var(--white);
    box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, .25rem);
    padding-block: 1rem;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
}
.pokemon:hover{
    transition:  0.5s;
    transform: scale(1.04);
    background-color: var(--tarjetas);
}
/* .pokemon-id-back{
    position: absolute;
    top: 50%;
    transform: translateX(-50%);
    font-size: 6rem;
    font-weight: 400;
} */
.pokemon-imagen{
    padding-inline: 1rem;
    display: flex;
    justify-content: center;
}
.pokemon-imagen img{
    width: 50%;
    max-width: 9rem;
    margin: auto;
}
.pokemon-info{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding-inline: 1rem;
    align-items: center;
    text-align: center;
}
.nombre-contenedor{
    display: block;
    align-items: center;
    column-gap: .5rem;
}
.pokemon-tipos{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.pokemon-tipos p{
    padding: .5rem;
    border-radius: 20px;
}
.normal{
    background-color: var(--normal);
}
.fire{
    background-color: var(--fire);
}
.water{
    background-color: var(--water);
}
.grass{
    background-color: var(--grass);
}
.electric{
    background-color: var(--electric);
}
.ice{
    background-color: var(--ice);
}
.fighting{
    background-color: var(--fighting);
}
.poison{
    background-color: var(--poison);
}
.ground{
    background-color: var(--ground);
}
.flying{
    background-color: var(--flying);
}
.psychic{
    background-color: var(--psychic);
}
.bug{
    background-color: var(--bug);
}
.rock{
    background-color: var(--rock);
}
.ghost{
    background-color: var(--ghost);
}
.dark{
    background-color: var(--dark);
}
.dragon{
    background-color: var(--dragon);
}
.steel{
    background-color: var(--steel);
}
.fairy{
    background-color: var(--fairy);
}

.modal{
    visibility: collapse;
    position: fixed ;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all .5s;
    background-color: rgba(0, 0, 0, 0.767); 
}
.contenido-modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 40rem;
    background-color: var(--white);
}
  .footer{
    width: 100%;
    background-color: var(--ice);
    text-align: center;
  }